.navbar {
   grid-area: n;
   background-color: rgb(36, 190, 165);
   padding: 20px;
   margin: 0px 10px 0px 0px;
   color: #fff;
}

.links {
}

.item {
   color: #fff;
   cursor: pointer;
   transition: color 0.3s ease 0s;
   text-decoration: none;
   display: block;
}

.active {
   color: rgb(230, 173, 17);
}
.item:hover {
   color: #fff;
   color: rgb(45, 125, 245);
}

.friends {
}

.friendsList {
   display: flex;
   justify-content: space-between;
}
