ul {
  text-align: left;
  list-style: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 66px 1fr;
  grid-template-areas:
    "h h h"
    "n p p";
}
.wrapper-content {
  grid-area: p;
  background-color: rgb(121, 240, 220);
}
